project:
  type: website
  output-dir: docs
  resources:
    - assets/pdfs/*
    - images/*
    - favicon.ico
    - favicon16x16.png
    - favicon32x32.png
    - apple-touch-icon.png
    - favicon.html
    
website:
  favicon: favicon.ico
  navbar: false
  search: false
  sidebar: false  # Disable sidebar for clean landing page
  
format:
  html:
    theme: none  # We'll use custom CSS only
    css: 
      - styles.scss
      - custom-landing.css
    toc: false
    include-in-header: 
      - favicon.html
      - custom-navbar.html
     
editor: visual