project:
  type: website
  output-dir: docs
  resources:
    - assets/pdfs/*
    - images/*
    - favicon.ico
    - favicon16x16.png
    - favicon32x32.png
    - apple-touch-icon.png
    - favicon.html
    
website:
  favicon: favicon.ico
  navbar:
    background: white
    left:
      - text: "Home"
        href: index.qmd
      - text: "Demos"
        href: demos.qmd
      - text: "Apps"
        href: apps.qmd
      - text: "Resources"
        href: resources.qmd
      - text: "Resume"
        href: resume.qmd
  search: true
  sidebar: false
  
format:
  html:
    theme: cosmo
    css: styles.scss
    toc: true
    include-in-header: favicon.html
     
editor: visual